---
import Layout from '../../layouts/Layout.astro';
import Academic from '../../components/Academic.astro'
import { getCollection } from 'astro:content';
const academics = await getCollection('academic')
const sorted =  academics.filter(a => a.id.includes("en/"))
.sort(
  (a, b) => Number(b.data.date) - Number(a.data.date)
);
---
<Layout>
    <h1 class="my-24 text-3xl font-semibold uppercase md:text-5xl font-lexend page-header">
		Academic
	</h1>
    <ul class="md:px-20">
        {sorted.map(media => 
        <li class="my-6">
            <Academic data={media.data} description={media.body}/> 
        </li>)}
    </ul>
</Layout>