---
import Layout from '../../layouts/Layout.astro';
import Media from '../../components/Media.astro'
import { getCollection } from 'astro:content';
const medias = await getCollection('medias')
const sorted = medias.filter(b => b.id.startsWith('en/')).reverse();
---
<Layout>
    <h1 class="my-12 text-5xl font-semibold uppercase md:my-24 font-lexend page-header">Medias</h1>
    <ul class="md:px-20">
        {sorted.map(media => 
        <li class="my-6">
            <Media data={media.data} description={media.body}/> 
        </li>)}
    </ul>
</Layout>