---
import Layout from '../../layouts/Layout.astro';
import CollaborationsList from '../../components/collaboration/List.astro'
import { getCollection } from 'astro:content';
const collaborations = await getCollection('collaborations')
const sorted = collaborations.filter(a => a.id.includes("fr/"))
const slugNames = sorted.map(collab => collab.id.slice(3).normalize('NFC'))
---
<Layout>
    <h1 class="my-24 text-3xl font-semibold uppercase md:text-5xl font-lexend page-header">Collaborations</h1>
    <ul class=" xl:pl-20">
        {sorted.map((collab, i) => 
        <li class="my-6">
            <CollaborationsList data={collab.data} description={collab.body} id={slugNames[i]}/> 
        </li>)}
    </ul>
</Layout>