---
import Layout from '../layouts/Layout.astro';
import Book from '../components/Book.astro'
import { getCollection } from 'astro:content';
const books = await getCollection('books')
---
<Layout>
    <h1>Books</h1>
    <ul>
        {books.map(book => 
        <li>
            <Book data={book.data} description={book.body}/> 
        </li>)}
    </ul>
</Layout>