---

import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import compo1 from '../assets/INCOPR_compo_1_test.png';

import IconArrow from '../components/UI/IconArrow.vue'
import ListItem from '../components/ListItem.vue';
import {recentWork }from '../config/dummyData'
---

<Layout>
	<div class="fixed size-full pointer-events-none opacity-75 hidden md:block -z-10 -translate-y-1/6" style={`background-image:url(${compo1.src});background-size:contain;background-repeat:no-repeat`}></div>
	<Image class=" h-auto w-auto -translate-x-2 md:hidden opacity-75" src={compo1} alt="Abstract drawing of flux" />
	<div class="w-full md:w-[calc(100%-var(--spacing)*10)] flex flex-col items-end justify-end">
		<h1 class="md:text-5xl text-3xl font-balthazar md:w-1/2 bg-white md:mt-36 p-4 leading-12 xl:leading-24"> 
			I enquire on how <span class="font-lexend text-2xl md:text-4xl">energy infrastructures</span> shape territories, drive <span class="font-lexend text-2xl md:text-4xl">globalization</span>, fuel <span class="font-lexend text-2xl md:text-4xl">capitalism</span> and produce <span class="font-lexend text-2xl md:text-4xl">violence</span>
		</h1>
	</div>
	<div class="w-full mt-4 p-4 md:absolute bottom-0">
		<span class="flex justify-start items-center"> <IconArrow class="scale-75"/> <h3 class="text-xl text-left font-lexend font-medium text-gray-800">Recent work</h3></span>
		<ul class="w-full">
			{recentWork.map(e =><li class="border-b px-2 md:px-4 bg-white first:border-t"><ListItem text={e.title} client:visible/></li>)}
		</ul>
	</div>
</Layout>
