---
import Layout from '../layouts/Layout.astro';
import {publications} from '../config/dummyData.js'
import ListItem from '../components/ListItem.vue'
import BgImage from '../components/UI/BgImage.vue'
import compo2 from '../assets/INCORP_compo_2_test.png'

---
<Layout>
    <BgImage img={compo2}/>
    <ul>
        {publications.map(e =>  <li class="px-2 border-b md:px-4"><ListItem text={e.title.fr} client:visible/> </li>)}
    </ul>
</Layout>