---
import ArrowUp from "./UI/ArrowUp.astro"
---
<footer>
    <div class="absolute mt-5 right-5 md:hidden" data-scrolltop-btn><ArrowUp/></div>
    <div class="flex flex-col items-start justify-between p-4 py-12 mt-6 border-t md:items-start md:flex-row bg-toxic-green md:px-12 ">
        <div class="md:w-1/3">
            <p class="text-2xl leading-4 font-balthazar">Jean Daniélou</p>
            <p class="text-s font-extralight font-lexend">© 2026 All rights reserved</p>
        </div>
       
        <div class="flex items-center justify-start w-full pb-4 mt-6 text-sm font-semibold uppercase md:w-1/3 md:text-lg md:mt-0">
            <a class="underline ">Contact</a>
            <a class="px-2 underline">CV</a>
            <a class="px-2 underline" href="https://www.csi.minesparis.psl.eu/equipe/chercheurs-associes/jean-danielou/" target="_blank">CSI</a>
            <a class="px-2 underline">Substack</a>
        </div>
        <div class="mt-12 text-right md:mt-0 md:w-1/3">
            <p class="text-xs font-extralight">website by Typhaine Le Galès</p>
            <a href="https://www.websitecarbon.com/website/jeandanielou.com/" target="_blank" class="text-xs">
                This site is cleaner than 96% of site globally emitting O.O3g of CO2 / visit
            </a>
        </div>
        
        
        
        <!-- <p>jeandanielou@live.fr</p> -->
    </div>
</footer>
<script>
const btn = document.querySelector('[data-scrolltop-btn]');
btn.addEventListener('click', () => window.scrollTo({ top: 0, behavior: 'smooth' }))
</script>