---
import ArrowUp from "./UI/ArrowUp.astro"
---
<footer>
    <div class="absolute mt-5 right-5 md:hidden" data-scrolltop-btn><ArrowUp/></div>
    <div class="flex flex-col items-center justify-between p-4 py-12 mt-6 border-t md:items-start md:flex-row bg-toxic-green md:px-12 md:py-6">
        <div>
            <p class="text-2xl leading-4 font-balthazar">Jean Daniélou</p>
            <p class="text-s font-extralight font-lexend">© 2026 All rights reserved</p>
        </div>
       
        <div class="pb-4 text-lg font-semibold uppercase">
            <a class="px-2 underline">Contact</a>
            <a class="px-2 underline">CV</a>
            <a class="px-2 underline">Substack</a>
        </div>
        <div>
            <p class="mb-2 text-xs text-center font-extralight">website by Typhaine Le Galès</p>
            <a href="https://www.websitecarbon.com/website/jean-danielou-netlify-app/" target="_blank" class="text-xs">This site is cleaner than 95% of site globally emitting O.O3g of CO2 / visit</a>
        </div>
        
        
        
        <!-- <p>jeandanielou@live.fr</p> -->
    </div>
</footer>
<script>
const btn = document.querySelector('[data-scrolltop-btn]');
btn.addEventListener('click', () => window.scrollTo({ top: 0, behavior: 'smooth' }))
</script>