---
const { data, description } = Astro.props;
---

<div class="flex">
    <a class="pl-6" href={data.link}>
        <p class="mb-3">{data.date}</p>
        <h1 class="text-3xl underline font-balthazar">{data.title}</h1>
        <p class="p-6">{description}</p>
    </a>
</div>