---
import { routes } from '../config/navRoutes'
import MobileMenuIsland from './MobileMenuIsland.vue'
import LanguageSwitcher from './LanguageSwitcher.astro';
import "../styles/global.css";
const { lang } = Astro.props;
---
<nav class="fixed top-0 z-50 flex justify-between w-full p-2 bg-white border-b md:p-2 md:px-12">
  <div class="flex-1 text-xl font-balthazar">
    <a href={lang === 'en' ? "/en" : "/"}>
      <p class="p-0! text-xl">Jean Daniélou</p> 
      <p class="text-xs -translate-y-1.5 font-lexend p-0!">social theory | energy | globalisation</p></a>
  </div>
  <ul class="items-center justify-between flex-1 hidden font-lexend md:flex">
    {routes.map(route => (
      <li class="h-fit">
        <a href={lang === 'en' ? `/en${route.path}` : route.path}>
          {route.name}
        </a>
      </li>
    ))}
    <LanguageSwitcher/>
  </ul>
  <MobileMenuIsland client:media="(max-width: 768px)" class="md:hidden" lang={lang}/>
</nav>