---
import Topbar from '../components/Topbar.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.vue';
import PageTransition from '../components/PageTransition.vue';
// import { ClientRouter } from 'astro:transitions'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Jean Daniélou</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Balthazar&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
		<!-- <ClientRouter /> -->
	</head>
	<body>
		<Topbar/>
		<Sidebar />
		<main class="w-full h-full md:w-[calc(100%-var(--spacing)*10)] mt-12 md:mt-15">
			<slot />
		</main>
		<Footer/>
		<PageTransition client:media="(min-width: 768px)" />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
