---
import Topbar from '../components/Topbar.vue';
import Sidebar from '../components/Sidebar.vue';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Jean Daniélou</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Balthazar&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<Topbar client:media="(max-width: 768px)"/>
		<Sidebar client:load/>
		<div class="w-full h-full md:w-[calc(100%-var(--spacing)*10)]">
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
